.DS_Store
assignments/assignment1/bash.exe
assignments/assignment1/data/test_32x32.mat
assignments/assignment1/data/train_32x32.mat
assignments/assignment1/mkdir.exe
assignments/assignment1/wget.exe
*.pyc
assignments/assignment2/bash.exe
assignments/assignment2/data/test_32x32.mat
assignments/assignment2/data/train_32x32.mat
assignments/assignment2/mkdir.exe
assignments/assignment2/wget.exe
assignments/assignment3/bash.exe
assignments/assignment3/data/test_32x32.mat
assignments/assignment3/data/train_32x32.mat
assignments/assignment3/mkdir.exe
assignments/assignment3/wget.exe
*.mat
assignments/assignment4/bash.exe
assignments/assignment4/mkdir.exe
*.jpg
assignments/assignment4/train.zip
assignments/assignment4/test.zip
assignments/assignment4/wget.exe
assignments/assignment4/test.zip.1
assignments/assignment4/train.zip.1
